@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'pixel';
  src: url('/pixel.woff2') format('woff2');
}

.font-pixel {
  font-family: 'pixel';
}

.bg-radial-transparent-to-#8D91AA {
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.7),
    transparent
  );
}

.non-scrollbar {
}

.non-scrollbar::-webkit-scrollbar {
  display: none;
}

.clip-trapezoid-left {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}

.clip-trapezoid-right {
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
}

.blog-title {
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
}

.blog-html-pre {
  overflow-x: auto;
}

.blog-html-pre code {
  background-color: transparent;
}

.hljs-built_in,
.hljs-name,
.hljs-selector-tag,
.hljs-tag {
  color: #087ea4;
}

.hljs-keyword {
  font-style: italic;
  color: #d73a49;
}

.hljs-built_in,
.hljs-name,
.hljs-selector-tag,
.hljs-tag {
  color: #6f42c1;
}

.hljs-addition,
.hljs-attribute,
.hljs-literal,
.hljs-section,
.hljs-string,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type {
  color: #005cc5;
}

.hljs-attr,
.hljs-property {
  color: #811e18;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #5468ff;
}

html,
body {
  scroll-behavior: smooth;
}

.blog-pixel-decoration-left {
  width: 12px;
  height: 12px;
  box-shadow: -160px -80px 0 0 #d6eaf8, -172px -68px 0 0 #d6eaf8,
    -172px 68px 0 0 #d6eaf8, -160px 80px 0 0 #d6eaf8, -148px 80px 0 0 #d6eaf8;
}

.blog-pixel-decoration-right {
  width: 12px;
  height: 12px;
  box-shadow: 160px -80px 0 0 #d6eaf8, 172px -68px 0 0 #d6eaf8,
    172px 68px 0 0 #d6eaf8, 160px 80px 0 0 #d6eaf8, 148px 80px 0 0 #d6eaf8;
}

.blog-sub-pixel-border {
  width: 8px;
  height: 8px;
  box-shadow: 75px 0 0 0 #d6eaf8, 75px -8px 0 0 #d6eaf8, 75px 8px 0 0 #d6eaf8,
    75px -16px 0 0 #d6eaf8, 75px 16px 0 0 #d6eaf8, -75px 0 0 0 #d6eaf8,
    -75px -8px 0 0 #d6eaf8, -75px 8px 0 0 #d6eaf8, -75px -16px 0 0 #d6eaf8,
    -75px 16px 0 0 #d6eaf8, -72px -22px 0 0 #d6eaf8, -72px 22px 0 0 #d6eaf8,
    72px -22px 0 0 #d6eaf8, 72px 22px 0 0 #d6eaf8, 68px 26px 0 0 #d6eaf8,
    60px 26px 0 0 #d6eaf8, 52px 26px 0 0 #d6eaf8, 46px 26px 0 0 #d6eaf8,
    38px 26px 0 0 #d6eaf8, 30px 26px 0 0 #d6eaf8, 22px 26px 0 0 #d6eaf8,
    14px 26px 0 0 #d6eaf8, 6px 26px 0 0 #d6eaf8, 0px 26px 0 0 #d6eaf8,
    -68px 26px 0 0 #d6eaf8, -60px 26px 0 0 #d6eaf8, -52px 26px 0 0 #d6eaf8,
    -46px 26px 0 0 #d6eaf8, -38px 26px 0 0 #d6eaf8, -30px 26px 0 0 #d6eaf8,
    -22px 26px 0 0 #d6eaf8, -14px 26px 0 0 #d6eaf8, -6px 26px 0 0 #d6eaf8,
    68px -26px 0 0 #d6eaf8, 60px -26px 0 0 #d6eaf8, 52px -26px 0 0 #d6eaf8,
    46px -26px 0 0 #d6eaf8, 38px -26px 0 0 #d6eaf8, 30px -26px 0 0 #d6eaf8,
    22px -26px 0 0 #d6eaf8, 14px -26px 0 0 #d6eaf8, 6px -26px 0 0 #d6eaf8,
    0px -26px 0 0 #d6eaf8, -68px -26px 0 0 #d6eaf8, -60px -26px 0 0 #d6eaf8,
    -52px -26px 0 0 #d6eaf8, -46px -26px 0 0 #d6eaf8, -38px -26px 0 0 #d6eaf8,
    -30px -26px 0 0 #d6eaf8, -22px -26px 0 0 #d6eaf8, -14px -26px 0 0 #d6eaf8,
    -6px -26px 0 0 #d6eaf8;
}

.blog-sub-pixel-decoration {
  width: 6px;
  height: 6px;
  box-shadow: -56px -14px 0 0 #d6eaf8, -60px -10px 0 0 #d6eaf8,
    56px 14px 0 0 #d6eaf8, 60px 10px 0 0 #d6eaf8;
}

.blog-sub-left-pixel-leadline {
  width: 6px;
  height: 6px;
  box-shadow: 0px 0px 0 0 #d6eaf8, 0px 6px 0 0 #d6eaf8, 0px 12px 0 0 #d6eaf8,
    0px 18px 0 0 #d6eaf8, 0px 24px 0 0 #d6eaf8, 0px 30px 0 0 #d6eaf8,
    0px 36px 0 0 #d6eaf8, 0px 42px 0 0 #d6eaf8, 6px 0px 0 0 #d6eaf8,
    12px 0px 0 0 #d6eaf8, 18px 0px 0 0 #d6eaf8, 24px 0px 0 0 #d6eaf8,
    30px 0px 0 0 #d6eaf8, 36px 0px 0 0 #d6eaf8, 42px 0px 0 0 #d6eaf8,
    48px 0px 0 0 #d6eaf8, 54px 0px 0 0 #d6eaf8, 60px 0px 0 0 #d6eaf8,
    66px 0px 0 0 #d6eaf8, 72px 0px 0 0 #d6eaf8, 78px 0px 0 0 #d6eaf8,
    84px 0px 0 0 #d6eaf8, 90px 0px 0 0 #d6eaf8, 96px 0px 0 0 #d6eaf8,
    102px 0px 0 0 #d6eaf8, 104px 0px 0 0 #d6eaf8;
}

.blog-sub-right-pixel-leadline {
  width: 6px;
  height: 6px;
  box-shadow: 0px 6px 0 0 #d6eaf8, 0px 12px 0 0 #d6eaf8, 0px 18px 0 0 #d6eaf8,
    0px 24px 0 0 #d6eaf8, 0px 30px 0 0 #d6eaf8, 0px 36px 0 0 #d6eaf8,
    0px 42px 0 0 #d6eaf8, -6px 0px 0 0 #d6eaf8, -12px 0px 0 0 #d6eaf8,
    -18px 0px 0 0 #d6eaf8, -24px 0px 0 0 #d6eaf8, -30px 0px 0 0 #d6eaf8,
    -36px 0px 0 0 #d6eaf8, -42px 0px 0 0 #d6eaf8, -48px 0px 0 0 #d6eaf8,
    -54px 0px 0 0 #d6eaf8, -60px 0px 0 0 #d6eaf8, -66px 0px 0 0 #d6eaf8,
    -72px 0px 0 0 #d6eaf8, -78px 0px 0 0 #d6eaf8, -84px 0px 0 0 #d6eaf8,
    -90px 0px 0 0 #d6eaf8, -96px 0px 0 0 #d6eaf8, -102px 0px 0 0 #d6eaf8,
    -104px 0px 0 0 #d6eaf8;
}

.avatar-pixel-circle {
  width: 12px;
  height: 12px;
  box-shadow: 2.5rem 0 0 0 #8d91aa, 2.5rem 0.5rem 0 0 #8d91aa,
    2.5rem -0.5rem 0 0 #8d91aa, 2.3rem -0.8rem 0 0 #8d91aa,
    2.3rem -1rem 0 0 #8d91aa, 2rem -1.4rem 0 0 #8d91aa,
    1.7rem -1.7rem 0 0 #8d91aa, 1rem -2.3rem 0 0 #8d91aa,
    1.4rem -2rem 0 0 #8d91aa, -2.3rem -0.8rem 0 0 #8d91aa,
    -2.3rem -1rem 0 0 #8d91aa, -2rem -1.4rem 0 0 #8d91aa,
    -1.7rem -1.7rem 0 0 #8d91aa, -1rem -2.3rem 0 0 #8d91aa,
    -1.4rem -2rem 0 0 #8d91aa, 2.3rem 0.8rem 0 0 #8d91aa,
    2.3rem 1rem 0 0 #8d91aa, 2rem 1.4rem 0 0 #8d91aa, 1.7rem 1.7rem 0 0 #8d91aa,
    1rem 2.3rem 0 0 #8d91aa, 1.4rem 2rem 0 0 #8d91aa, -2.3rem 0.8rem 0 0 #8d91aa,
    -2.3rem 1rem 0 0 #8d91aa, -2rem 1.4rem 0 0 #8d91aa,
    -1.7rem 1.7rem 0 0 #8d91aa, -1rem 2.3rem 0 0 #8d91aa,
    -1.4rem 2rem 0 0 #8d91aa, 0rem -2.5rem 0 0 #8d91aa,
    -0.5rem -2.5rem 0 0 #8d91aa, 0.5rem -2.5rem 0 0 #8d91aa,
    0rem 2.5rem 0 0 #8d91aa, -0.5rem 2.5rem 0 0 #8d91aa,
    0.5rem 2.5rem 0 0 #8d91aa, -2.5rem 0 0 0 #8d91aa, -2.5rem 0.5rem 0 0 #8d91aa,
    -2.5rem -0.5rem 0 0 #8d91aa;
}

.button-pixel-border {
  width: 8px;
  height: 8px;
  box-shadow: 20px 0px 0 0 #d6eaf8, 20px 8px 0 0 #d6eaf8, 20px -8px 0 0 #d6eaf8,
    14px -14px 0 0 #d6eaf8, 8px -20px 0 0 #d6eaf8, 0px -20px 0 0 #d6eaf8,
    -8px -20px 0 0 #d6eaf8, -14px -14px 0 0 #d6eaf8, -20px 0px 0 0 #d6eaf8,
    -20px 8px 0 0 #d6eaf8, -20px -8px 0 0 #d6eaf8, 8px 20px 0 0 #d6eaf8, 0px 20px 0 0 #d6eaf8,
    -8px 20px 0 0 #d6eaf8, 14px 14px 0 0 #d6eaf8, -14px 14px 0 0 #d6eaf8;
}
.animate-pause {
}

.animate-pause:hover {
  animation-play-state: paused;
}
